<section class="p-course">
    <h2 class="c-section-title">コース紹介</h2>
    <div class="l-container">
        <!-- Slider main container -->
      <div class="swiper-container">
        <div class="swiper">
          <!-- Additional required wrapper -->
          <div class="swiper-wrapper">
            <!-- Slides -->
            <div class="swiper-slide"><img width="1140" height="544" src="../img/training-banner-1.jpg" alt="ヨガコースの広告バナー。"></div>
            <div class="swiper-slide"><img width="1140" height="544" src="../img/training-banner-2.jpg" alt="ボクササイズコースコースの広告バナー。"></div>
            <div class="swiper-slide"><img width="1140" height="544" src="../img/training-banner-3.jpg" alt="フィットネスランコースの広告バナー。"></div>

          </div>
          <!-- If we need pagination -->

          <!-- If we need navigation buttons -->
          <div class="swiper-button-prev"></div>
          <div class="swiper-button-next"></div>
        </div>

     </div>
      </div>
</section>