<section class="p-question">
    <h2 class="c-section-title">Q&A</h2>
    <div class="l-container">
        <div class="p-accordion">
            <div class="p-accordion__item">
                <button type="button" class="p-accordion__btn"><span class="p-accordion__question">Q</span>初めてフィットネスクラブへ行く際の注意点は？
                    <span class="p-accordion__plus-icon"></span>
                </button>
                <div class="p-accordion__content">
                    <span class="p-accordion__answer">A</span>
                    <p>
                        はじめての方も安心して利用していただけるよう、
                        スタッフがしっかりとサポートさせていただきます。
                        器具の使い方や運動メニューのアドバイスなど、
                        ご要望に合わせてご案内いたします。ぜひお気軽にご相談ください。
                    </p>
                </div>
            </div>
            <div class="p-accordion__item">
                <button type="button" class="p-accordion__btn"><span class="p-accordion__question">Q</span>
                    通う頻度はどのくらいが適切ですか？
                    <span class="p-accordion__plus-icon"></span>
                </button>
                <div class="p-accordion__content">
                    <span class="p-accordion__answer">A</span>
                    <p>
                        無理のない範囲で続けていくことが大切ですね。
                        週に2~3回の頻度をおすすめします。
                        無理のない範囲で続けていくことが大切ですよ。
                    </p>
                </div>
            </div>
            <div class="p-accordion__item">
                <button type="button" class="p-accordion__btn"><span class="p-accordion__question">Q</span>
                    夏場はどのような服装で来れば良いですか？
                    <span class="p-accordion__plus-icon"></span>
                </button>
                <div class="p-accordion__content">
                    <span class="p-accordion__answer">A</span>
                    <p>
                        通気性の良いスポーツウェアをおすすめします。Tシャツとショートパンツなどが適しています。
                        汗をかいても快適に過ごせるよう、吸汗速乾素材がおすすめです。また、運動中の安全性を考え、
                        しっかりとした靴底のスニーカーをご着用ください。
                    </p>
                </div>
            </div>
            <div class="p-accordion__item">
                <button type="button" class="p-accordion__btn"><span class="p-accordion__question">Q</span>
                    子連れで利用できますか？
                    <span class="p-accordion__plus-icon"></span>
                </button>
                <div class="p-accordion__content">
                    <span class="p-accordion__answer">A</span>
                    <p>
                        はい、もちろんご家族でも気軽にご利用いただけます。
                        キッズスペースもご用意しておりますので、お子様も安心して遊べます。
                        スタッフがお子様の見守りもさせていただきますので、ぜひご家族で楽しんでくださいね。
                    </p>
                </div>
            </div>
            <div class="p-accordion__item">
                <button type="button" class="p-accordion__btn"><span class="p-accordion__question">Q</span>
                     会員以外の方も利用できますか？
                     <span class="p-accordion__plus-icon"></span>
                 </button>
                <div class="p-accordion__content">
                    <span class="p-accordion__answer">A</span>
                    <p>
                        はい、会員以外の方でも1日利用券をお求めいただけます。初めての方やご家族、ご友人と一緒にお試しいただくのもおすすめです。スタッフが丁寧にご案内させていただきますので、
                        ぜひお気軽にお立ち寄りください。
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>