<section class="p-review">
    <h2 class="c-section-title">レビュー</h2>
    <div class="l-container">

 <div class="swiper-container">
    <div class="swiper" id="carousel">

        <div class="swiper-wrapper">

          <div class="swiper-slide"><img width="362" height="476" src="../img/review-card1.png" alt="レビューしてくれた女性、高橋愛子さん。"></div>
          <div class="swiper-slide"><img width="362" height="476" src="../img/review-card2.png" alt="レビューしてくれた女性、佐藤美奈さん。"></div>
          <div class="swiper-slide"><img width="362" height="476" src="../img/review-card3.png" alt="レビューしてくれた女性、鈴木玲子さん。"></div>
          <div class="swiper-slide"><img width="362" height="476" src="../img/review-card4.png" alt="レビューしてくれた男性、中村健一さん。"></div>
          <div class="swiper-slide"><img width="362" height="476" src="../img/review-card5.png" alt="レビューしてくれた男性、小林翔太さん。"></div>
          <div class="swiper-slide"><img width="362" height="476" src="../img/review-card6.png" alt="レビューしてくれた男性、田中 優さん。"></div>

        </div>


        <div class="swiper-button-prev"></div>
        <div class="swiper-button-next"></div>

      </div>
  </div>
 </div>
</section>