<section class="p-trainer">
    <h2 class="c-section-title">トレーナー</h2>
    <div class="l-container">
        <div class="p-trainer__card-wrapper">
            <div class="p-trainer__card">
                <figure class="p-trainer__card-image">
                    <img width="269" height="388" src="../img/trainer-img1.png" alt="ヨガコースの講師、佐々木千恵子">
                    <figcaption class="p-trainer__caption">
                        <h3 class="p-trainer__name">佐々木 千恵子</h3>
                        <p>
                            インド古来のヨガの伝統を学び、その奥深さと精神性を会員の皆さまに丁寧に伝えています。
                            クラスでは柔らかな語りかけと共に、参加者一人ひとりのニーズに寄り添った指導を行っています。
                        </p>
                    </figcaption>
                </figure>
            </div>
            <div class="p-trainer__card">
                <figure class="p-trainer__card-image">
                    <img width="269" height="388" src="../img/trainer-img2.png" alt="ボクササイズコースの講師、田中健一">
                    <figcaption class="p-trainer__caption orange-bg">
                        <h3 class="p-trainer__name">田中 健一</h3>
                        <p>
                            全日本ボクシング王者の、経歴を持ち、現役引退後はジムでコーチを務める。
                            パンチ力と俊敏性に定評があり、初心者からプロを目指す会員まで幅広いレベルに
                            対応できる指導力を持っています。
                        </p>
                    </figcaption>
                </figure>
            </div>
            <div class="p-trainer__card">
                <figure class="p-trainer__card-image">
                    <img width="269" height="388" src="../img/trainer-img3.png" alt="フィットネスランコースの講師、鈴木真緒">
                    <figcaption class="p-trainer__caption green-bg">
                        <h3 class="p-trainer__name">鈴木 真央</h3>
                        <p>
                            陸上競技の日本代表選手出身。スピードと持久力に優れ、
                            効率的なランニングフォームを会員の方々に身につけていただけるよう丁寧に指導しています。
                        </p>
                    </figcaption>
                </figure>
            </div>
          </div>
    </div>
</section>